<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vitiger.testScriptWithTestmethod.tc_09CreateOrgWithEmailoptOutCheck"/>
      <class name="com.vitiger.testScriptWithTestmethod.tc_07creatorWithMemberAndClear"/>
      <class name="com.vitiger.testScriptWithTestmethod.tc_10CreateOrgWithAssignedtoAsAdministrator"/>
      <class name="com.vitiger.testScriptWithTestmethod.tc_08CreatOrgWithEmailOptOut"/>
      <class name="com.vitiger.testScriptWithTestmethod.tc_06CreateOrgWithMemberOf"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
